html { overflow-x: hidden; overflow-y: auto; } 

form { display:inline; }
img  { vertical-align:middle; border:0px }
BODY 
{ font-family: Verdana, Tahoma, Arial, sans-serif; font-size: 11px; color: #e1e1e1; margin:0px 10px 0px 10px;
background-image:url('http://i32.photobucket.com/albums/d29/kingdomofangels/rps/bg.jpg');
background-repeat:repeat;
}
TABLE, TR, TD { font-family: Verdana, Tahoma, Arial, sans-serif; font-size: 11px; color: #e1e1e1; }
a:link, a:visited, a:active { text-decoration: underline; color: #fff }
a:hover { color: #e1e1e1; text-decoration: underline }

fieldset.search { padding:6px; line-height:150% }
label { cursor:pointer; }

img.attach { border:2px outset #EEF2F7;padding:2px }

.googleroot  { padding:6px; line-height:130% }
.googlechild { padding:6px; margin-left:30px; line-height:130% }
.googleparent { padding:6px; margin-left:30px; line-height:130%; color:#22900 }
.googlebottom, .googlebottom a:link, .googlebottom a:visited, .googlebottom a:active { font-size:11px; color: #3A4F6C; }
.googlish, .googlish a:link, .googlish a:visited, .googlish a:active { font-size:14px; font-weight:bold; color:#00D; }
.googlepagelinks { font-size:1.1em; letter-spacing:1px }
.googlesmall, .googlesmall a:link, .googlesmall a:active, .googlesmall a:visited { font-size:10px; color:#434951 }

li.helprow { padding:0px; margin:0px 0px 10px 0px }
ul#help    { padding:0px 0px 0px 15px }

option.cat { font-weight:bold; }
option.sub { font-weight:bold;color:#555 }
.caldate   { text-align:right;font-weight:bold;font-size:11px;color:#fff;background-color:#0a2e00;padding:4px;margin:0px }

.warngood { color:green }
.warnbad  { color:red }

#padandcenter { margin-left:auto;margin-right:auto;text-align:center;padding:14px 0px 14px 0px }

#profilename { font-size:28px; font-weight:bold; }
#calendarname { font-size:22px; font-weight:bold; }

#photowrap { padding:6px; }
#phototitle { font-size:24px; border-bottom:1px solid black }
#photoimg   { text-align:center; margin-top:15px } 

#ucpmenu    { line-height:150%;width:22%; border:1px solid #e1e1e1;background-color: #0a2e00}
#ucpmenu p  { padding:2px 5px 6px 9px;margin:0px; }
#ucpcontent { background-color: #0a2e00; border:1px solid #e1e1e1;line-height:150%; width:auto }
#ucpcontent p  { padding:10px;margin:0px; }

#ipsbanner { position:absolute;top:1px;right:5%; }
#logostrip { border:1px solid #0a2e00;background-color: #000;padding:0px;margin:0px; }
#submenu   { border:1px solid #0a2e00;background-color: #000;font-size:10px;margin:3px 0px 3px 0px;color:#fff;font-weight:bold;background-image: url(http://i32.photobucket.com/albums/d29/kingdomofangels/rps/bg_green_grad-1.png); }
#submenu a:link, #submenu  a:visited, #submenu a:active { font-weight:bold;font-size:10px;text-decoration: none; color: #fff; }
#userlinks { border:1px solid #0a2e00; background-color: #000; background-image: url(http://i32.photobucket.com/albums/d29/kingdomofangels/rps/bg_green_grad-1.png); }

#navstrip  { font-weight:bold;padding:6px 0px 6px 0px; }

.activeuserstrip { background-color:#000; padding:6px;background-image: url(http://i32.photobucket.com/albums/d29/kingdomofangels/rps/bg_green_grad-1.png)  }

.pformstrip { background-color: #000; color:#fff;font-weight:bold;padding:6px;margin-top:1px; background-image: url(http://i32.photobucket.com/albums/d29/kingdomofangels/rps/bg_green_grad-1.png) }
.pformleft  { background-color: #35592c; padding:6px; margin-top:1px;width:25%; border-top:1px solid #000; border-right:1px solid #000; }
.pformleftw { background-color: #35592c; padding:6px; margin-top:1px;width:40%; border-top:1px solid #000; border-right:1px solid #000; }
.pformright { background-color: #35592c; padding:6px; margin-top:1px;border-top:1px solid #000; }

.post1 { background-color: #35592c}
.post2 { background-color: #35592c }
.postlinksbar { background-color:#000;padding:6px;margin-top:1px;font-size:10px; background-image: url(http://i32.photobucket.com/albums/d29/kingdomofangels/rps/bg_green_grad-1.png)  }

.row1 { background-color: #35592c }
.row2 { background-color: #35592c}
.row3 { background-color: #35592c }
.row4 { background-color: #35592c}

.darkrow1 { background-color: #000; color:#000; }
.darkrow2 { background-color: #000; color:#000; background-image: url(http://i32.photobucket.com/albums/d29/kingdomofangels/rps/bg_green_grad-1.png)}
.darkrow3 { background-color: #35592c; color:#000; }

.hlight { background-color: #DFE6EF }
.dlight { background-color: #EEF2F7 }

.titlemedium { font-weight:bold; color:#fff; padding:6px; margin:0px; background-image: url(http://i32.photobucket.com/albums/d29/kingdomofangels/rps/bg_green_grad-1.png) }
.titlemedium  a:link, .titlemedium  a:visited, .titlemedium  a:active  { text-decoration: underline; color: #fff }

.maintitle { vertical-align:middle; border: 0px;font-weight:bold; color:#FFF; letter-spacing:1px; padding: 21px 10px 18px 15px; background-image: url(http://i32.photobucket.com/albums/d29/kingdomofangels/rps/Green_Abstract_by_VirgoT-2-1.jpg) }
.maintitle a:link, .maintitle  a:visited, .maintitle  a:active { text-decoration: none; color: #FFF }
.maintitle a:hover { text-decoration: underline }

.plainborder { border:1px solid #015700;background-color: #000}
.tableborder { border:5px solid #0a2e00;background-color:#transparent; padding:0px; margin:0px; width:100% }
.tablefill   { border:1px solid #000;background-color:#35592c;padding:6px;  }
.tablepad    { background-color:#35592c;padding:6px }
.tablebasic  { width:100%; padding:0px 0px 0px 0px; margin:0px; border:0px }

.wrapmini    { float:left;line-height:1.5em;width:25% }
.pagelinks   { float:left;line-height:1.2em;width:35% }

.desc { font-size:10px; color:#e1e1e1 }
.edit { font-size: 9px }

.signature   { font-size: 10px; color: #329933 }
.postdetails { font-size: 10px }
.postcolor   { font-size: 12px; line-height: 160% }

.normalname { font-size: 12px; font-weight: bold; color: #003300 }
.normalname a:link, .normalname a:visited, .normalname a:active { font-size: 12px }
.unreg { font-size: 11px; font-weight: bold; color: #900 }

.searchlite { font-weight:bold; color:#F00; background-color:#FF0 }

#QUOTE { font-family: Verdana, Arial; font-size: 11px; color: #a6a6a6; background-color: #385b2f; border: 1px solid #000; padding-top: 2px; padding-right: 2px; padding-bottom: 2px; padding-left: 2px }
#CODE  { font-family: Courier, Courier New, Verdana, Arial;  font-size: 11px; color: #a6a6a6; background-color: #385b2f; border: 1px solid #000; padding-top: 2px; padding-right: 2px; padding-bottom: 2px; padding-left: 2px }

.copyright { font-family: Verdana, Tahoma, Arial, Sans-Serif; font-size: 9px; line-height: 12px }

.codebuttons  { font-size: 10px; font-family: verdana, helvetica, sans-serif; vertical-align: middle }
.forminput, .textinput, .radiobutton, .checkbox  { font-size: 11px; font-family: verdana, helvetica, sans-serif; vertical-align: middle; background-color: #e1e1e1; font-weight: bold; }

.thin { padding:6px 0px 6px 0px;line-height:140%;margin:2px 0px 2px 0px;border-top:1px solid #FFF;border-bottom:1px solid #FFF }

.purple { color:purple;font-weight:bold }
.red    { color:red;font-weight:bold }
.green  { color:green;font-weight:bold }
.blue   { color:blue;font-weight:bold }
.orange { color:#F90;font-weight:bold }
